[2015-08-27 19:04] hrj opened #2 "Project Description?"
Hi,

I found your other projects (Bixie, etc) interesting and am keeping a watch on this one too. Can you please put a few lines of what this is about. I am compiling a list of static-analyser tools for Java [here](https://github.com/hrj/awesome-eclipse/wiki), and want to describe jayhorn (either now, or when it is ready).

thanks!

[2015-09-17 20:17] martinschaef commented on #2
It will be a static verifier that uses a Horn clause solver under the hood... but the will take some time. In terms of description: its http://seahorn.github.io/ for Java.

[2015-09-17 20:17] #2 closed

[2016-07-20 19:17] martinschaef opened #18 "Review the encoding of PO operator"
The axioms that are generated for the type hierarchy seem to be broken:
https://github.com/jayhorn/jayhorn/blob/atva_memory_encoding/jayhorn/src/main/java/jayhorn/checker/Checker.java

(note that we're currently not in the devel branch).

[2016-07-20 19:20] martinschaef opened #19 "Merge back into devel?"
Shall we merge back into devel?

Also: @lememta you refactored the Checker class, right? What happened to that? Didn't you say that you're going to merge it back into our branch? We have to do that so that @pruemmer can start working on #18

[2016-07-20 19:23] martinschaef opened #20 "Do more with benchtop"
Let get benchtop working with the new SceneTransformation classes and think about what other simplifications we could do.

[2016-07-20 19:26] martinschaef opened #21 "Infrastructure for user-provided stubs"
In our last call we talked about how to get stubs for library classes (or Arrays). In particular for the programs that you wanted to verify which use Lists and Maps.
Currently, we have sth like this for Arrays but we should make this more general and define an interface for this.
Let's start a discussion on Slack and start hacking on this.

[2016-07-21 15:25] martinschaef opened #22 "Improve handling of static initializers and static fields"
First generate a static flag to indicate if a static initializer has been called (on the bytecode level) and guard the call to the static initializer with that. Later, we can use constant propagation to remove unnecessary calls to static initializers.
At the same time, we have to change the current encoding of static fields. Right now, all static fields are put into the same object to ensure that

[2016-07-26 20:40] martinschaef commented on #18
Here is a small example that fails:
[code]

[2016-07-27 21:02] #19 closed

[2016-07-29 18:21] wuestholz opened #25 "Error not reported"
When I run the following program it is reported as safe even though the assertion will definitely fail:

[code]

[2016-07-29 18:25] martinschaef commented on #25
Handling of static fields (and default initialization) is currently broken because we played a bit too hard with the memory model. We'll try to fix this over the weekend or latest next week.

Sorry about that.

[2016-07-29 18:27] martinschaef commented on #22
Can be merged with #25

[2016-07-29 18:27] #22 closed

[2016-07-29 19:23] wuestholz commented on #25
@martinschaef Great! Thank you for the quick reply.

[2016-07-30 15:19] martinschaef commented on #25
Fwiw: the bug is that we try to 'pull' the fields of an uninitialized object from the heap. This translates into assume false in the verification condition. You'll observe this behavior quite often when I screw something up.
If you still want to play with the tool until we get this fixed, try the release that we have:
https://github.com/jayhorn/jayhorn/releases/tag/v0.1alpha
That doesn't have the

[2016-07-30 16:00] wuestholz commented on #25
@martinschaef Thank you for the update. I'll give the release a try for now.

[2016-07-30 17:25] martinschaef commented on #25
@wuestholz should work now. Also added your example as regression test:
https://github.com/jayhorn/jayhorn/blob/devel/jayhorn/src/test/resources/horn-encoding/regression/UnsatIssue25.java
to the pre-commit hook.
Please close the issue if you agree.

[2016-08-01 16:55] wuestholz commented on #25
@martinschaef Great! Thank you for fixing this.

[2016-08-01 16:55] #25 closed

[2016-08-05 22:15] martinschaef commented on #18
There was a copy and paste bug that broke the generation of the typeGraph in Program.java. This part is fixed now. However, the UnsatThrows.java example still gives a false result. The translation looks fishy as well:
``
Root ->Block1:
(ln 9)	$r3_$dynamicType_5571 := call <A: void <init>()>($r3)
(ln 9)	r1 := $r3
(ln 11)	$r3_$dynamicType_5571 := pull(A, r1)
(ln 11)	$instof11 := $r3_$dynamicType_557

[2016-08-11 00:18] martinschaef opened #27 "Memory model soundness"
The following example (see this [test case](https://github.com/jayhorn/jayhorn/blob/devel/jayhorn/src/test/resources/horn-encoding/backlog/UnsatThrows.java)) reveals an unsoundness wrt to handling subtypes:

[code]

The pull that fetches the type of the caught exception only looks at the type RuntimeException and does not see that the type might be ``A``. Hence, the ``assert false`` becomes unreac

[2016-08-11 00:18] martinschaef commented on #18
Should be fixed in commit [this commit](https://github.com/jayhorn/jayhorn/commit/9b48bdce5597bc246b6567635ca42493e1cbaf94).

However, it opens #27 which is a slightly different problem.

[2016-08-11 00:18] #18 closed

[2016-08-11 00:25] martinschaef opened #28 "Move benchtop in its own project"
@hsanchez could you move benchtop into a separate project under this organisation? It should be stand alone. We'll only use it occasionally to test that soottocfg is not introducing unsoundness.

This is all part of a greater effort to get our test coverage over 90% again ;)

[2016-08-11 00:25] martinschaef commented on #28
Btw., its not urgent, but we should do it in the near future.

[2016-08-11 03:23] martinschaef opened #29 "Unsound assumptions for static initializers"
The current translation calls all static initializers once at the beginning of Main in an arbitrary order. Technically this is unsound because static initializers may assume a certain execution order that is enforced by the code. However, since this is terrible style and we haven't encountered it, I'm not going to work on that any time soon.
Technically, this should be easy to fix. We could use an

[2016-08-12 16:09] martinschaef commented on #27
Fixed in [this commit](https://github.com/jayhorn/jayhorn/commit/3b9f772d46da91461f7617fde4e7d5ab529f81bb). There were in fact two problems:
- We did not check invariants of potential subtypes (fixed in [this commit](https://github.com/jayhorn/jayhorn/commit/40e06dabbc2af477d10f77da8efe072ddbc80671).
- There was a bug in the SootRunner that caused a hiccup in Soot which dropped the trap and the as

[2016-08-12 16:09] #27 closed

[2016-08-25 17:31] martinschaef opened #31 "Potentially buggy bytecode transformation"
In soottocfg.test.translation_test.DynamicTest I had to disable [this test](https://github.com/jayhorn/jayhorn/blob/devel/soottocfg/src/test/resources/dynamic_tests/DynamicTest03.java#L15) because it creates illegal bytecode. I assume it has something to do with the order in which we apply transformations but I didn't have time to look at it.

[2016-08-25 17:34] martinschaef opened #32 "Unsound handling of Long types"
Added [FailingNumericTest](https://github.com/jayhorn/jayhorn/blob/devel/jayhorn/src/test/java/jayhorn/test/integration_tests/FailingNumericTests.java) to track progress on handling of numeric types. Currently, we have a soundness issue with Long: see [this test input](https://github.com/jayhorn/jayhorn/blob/devel/jayhorn/src/test/resources/horn-encoding/numeric/UnsatLong.java).

[2016-08-30 04:31] martinschaef opened #33 "Unit Tests report SAT if program does not compile"
Currently, the unit tests say a test is SAT if the Java file doesn't compile.
This is because a compiler error in jayhorn.test.integration_tests.FailingTests.verifyAssertions(ProverFactory) skips the assertion and jumps right into the finally.

[2016-08-30 04:37] martinschaef commented on #33
My bad - Teme fixed that in his last commit by adding an assertion that there must be exactly one entry point.

[2016-08-30 04:37] #33 closed

[2016-08-30 15:18] #28 closed

[2016-08-30 23:03] rodykersten opened #36 "ArrayTransformer breaks for array type fields"
The ArrayTransformer gives a NullPointerException when an array type field of another class is used. I added test cases Sat03 and Unsat03 for this under horn-encoding/arrays.

[2016-08-30 23:36] martinschaef commented on #36
Will look into it, thx.

[2016-08-31 23:35] martinschaef commented on #36
Fixed with commit above.

[2016-08-31 23:35] #36 closed

[2016-08-31 23:36] rodykersten commented on #36
Thanks @martinschaef !

[2016-09-01 21:53] martinschaef commented on #32
Should be fixed in commit above.

[2016-09-01 21:53] #32 closed

[2016-09-02 18:29] martinschaef opened #39 "Possibly unsound handling of subtype invariants"
As Philipp pointed out, the handling of subtype invariants in the translation of pull may be unsound because currently, for a class hierarchy with A extends B extends C, we translate pull statements into one Horn clause `p0(x) & inv_A(x) & inv_B(x) & inv_C(x) -> p1(x)`. This, however, is too strong and can be unsound. Instead, we have to create multiple clauses of the form
[code]
This is not a big

[2016-09-02 18:36] martinschaef opened #40 "Log calls to unknown library methods"
When we hit a method that has no resolvable body, we use a stubber to generate a method body the returns a non-deterministic return value. Currently, this is implemented by `soottocfg.cfg.util.CfgStubber`.

We want to extend this by having a Map from method/class signature to specification. The specification here should be a (set of) Horn clause(s).  If a this map contains a spec, we use the spec,

[2016-09-02 18:38] martinschaef opened #41 "Parse library specs from Horn clauses"
Implement infrastructure to parse Horn clauses from a File/String.  The parsing method should be part of `jayhorn.solver.Prover` and produce actual `ProverExpr`. It also should work with Eldarica and Z3/Spacer.

[2016-09-02 18:42] martinschaef opened #42 "Tools to generate Specs"
Since we want to load specs from Horn, it would be nice to have a way to use JayHorn (maybe with a different main) to take a class, translate it to Horn, and add it as a spec for another class. E.g., the user creates a class `JayHornMap<K,V> extends Map<K,V>` that implements a simplified version of map. Then JayHorn (or a version of it) translates this into Horn and saves it to disk. The user shou

[2016-09-02 19:24] martinschaef opened #43 "JayHorn crashes when running on itself"
Exception flies when running:
[code]

Stacktrace:
[code]

[2016-09-02 23:51] rodykersten opened #44 "Unsoundness in precise mem model"
The improved precision for the memory model is active in the branch mem-precision. Regression tests pass, but not the ones in src/test/resources/horn-encoding/mem_precision/. Two Unsat tests become Sat.

The example UnsatInstances constructs an object A, then calls a method that sets the field a.i to 42. The InterProceduralPullPushOrdering now gives the pushes from the constructors of A (4) and Ob

[2016-09-03 03:44] martinschaef commented on #43
Narrowed it down:
[code]
crashes ArrayTransformer.java because `int[][] foo` is a multi-array but `new int[1][]` is a `NewArrayExpr` not a `NewMultiArrayExpr` and thus the ArrayTransformer does not find a constructor for the array abstraction class.
Will fix that in a bit.

[2016-09-03 04:04] #43 closed

[2016-09-03 20:54] #44 closed

[2016-09-04 14:34] martinschaef commented on #39
Reading my code again, I realize that it's already handled correctly. No idea why I thought I'd handle it as a conjunction.

[2016-09-04 14:34] #39 closed

[2016-09-06 22:58] martinschaef commented on #41
@lememta wants to write a test case where a Horn clause program is written to disk and loaded back into the solver.

[2016-09-06 23:44] martinschaef opened #46 "Add soottocfg options class to switch on/off various features"

[2016-09-06 23:45] martinschaef opened #47 "Encode more information into references"
Encode references as tuples that contain allocation site, dynamic type, and maybe other stuff.

[2016-09-06 23:53] rodykersten opened #48 "Handle non-linear constraints"
The solver crashes on non-linear constraints right now. An example is 'challenge2onebucket' in benchmarks.

[2016-09-07 00:33] #46 closed

[2016-09-07 01:47] martinschaef commented on #21
Now split into #40, #41, and #42

[2016-09-07 01:59] rodykersten opened #49 "Increase precision of memory model"
Adding the 'lastpush' field (w/ mem-precision branch) does not seem to make a difference for the examples in horn-encoding/mem-precision. Find out why and fix.

[2016-09-07 17:32] rodykersten opened #50 "SatBranches test case throws exception"
mem-precision/SatBranches.java test case throws a VerifyException, caused at the InterProceduralPullPushOrdering class because "pull already in there".

[2016-09-07 18:20] rodykersten commented on #50
Fixed with my last commit. The problem was that when the PushPullSimplifier moves pulls up in the CFG, in case there are 2 blocks to move it in to, copied a reference to the same PullStatement object instead of making a deep copy.

[2016-09-07 18:20] #50 closed

[2016-09-07 18:41] lememta opened #51 "Add a Stats module to get statistics for benchmarking"

[2016-09-07 20:20] rodykersten opened #52 "JayHorn crashes on dirs that contain non-class-files"
such as .java files

[2016-09-07 20:38] rodykersten opened #53 "Add option for precision of memory model"

[2016-09-07 20:39] #53 closed

[2016-09-07 22:54] rodykersten opened #54 "Alias analysis on CFG level"
Adding an alias analysis on the CFG level allows for higher precision in the memory model. It can decrease the size of sets of pushes that may affect a pull, generated by the InterProceduralPullPushOrdering. Also, it allows for more aggressive application of the simplification rules.

[2016-09-08 00:49] lememta opened #55 "Support for Spacer in the backend"

[2016-09-08 00:50] #51 closed

[2016-09-08 02:11] rodykersten commented on #49
Turns out it is not precise enough because of missing alias analysis, i.e. issue #54. Closing this one.

[2016-09-08 02:11] #49 closed

[2016-09-10 01:28] #54 closed

[2016-09-10 01:30] rodykersten opened #56 "Alias analysis breaks Spec examples"
There a bug in either the alias analysis or the InterproceduralPullPushOrdering that breaks the Spec test cases.

[2016-09-12 23:43] rodykersten commented on #56
The test fails because of auto boxing/unboxing of the integer / Integer. We should probably run a Soot transformation that makes (un)boxing explicit. Cannot find a Soot lib class that does this so far..

[2016-09-13 04:06] rodykersten commented on #56
Turns out the problem is related to the MethodStubber. This has code to create a body that havocs the return value and the thrown exceptions, but that loop body gets lost in translation.

[2016-09-13 18:34] rodykersten commented on #56
Ok, I think I figured out what the problem is. When a library method returns a reference type, the MethodStubber adds a havoc of this reference, i.e. the constructor is not invoked and a push does not exist for this reference. This means the alias analysis does not have an alias class for it and that the InterproceduralPushPullOrdering cannot find an influencing push. We should thus have havoc met

[2016-09-13 20:31] rodykersten opened #57 "Missing handling of runtime exceptions after call"
The test case SatInterproc in mem-precision fails. The reason seems related to precision in the InterproceduralPushPullOrdering. JayHorn does not properly detect that only the push in the called method setField can affect the assertion. I implemented the mustShadow method, but reading the javadoc now it looks like I did not do it as intended.

[2016-09-13 20:37] rodykersten opened #58 "Add call site to push"
Test case SatInstances fails, because the field of an object is set by the method setI twice. This method is called at two different locations, yet the solver cannot distinguish between these since both have the same push ID. We could make the memory model more precise by adding call site, similar to pushID.

[2016-09-14 16:12] pruemmer opened #59 "JayHorn crashes on trivial program"
When trying to verify

[code]

I get

[code]

[2016-09-14 16:17] pruemmer opened #60 "JayHorn crashes on another trivial program"
[code]

gives

[code]

[2016-09-14 16:18] pruemmer commented on #60
It does not make a difference whether "main" is static or not ;-)

[2016-09-14 16:26] pruemmer opened #61 "JayHorn does not detect NullPointerException"
[code]

is considered SAFE (when JayHorn is run with option -mem-prec 0)

[2016-09-14 16:42] rodykersten commented on #59
At that point, it is assumed that there is 1 entry point to the program. It looks like this somehow passes the earlier check and we end up with a program without entry points in the PushIdentifierAdder.

[2016-09-14 16:42] martinschaef commented on #59
I'm adding sth to fail early right now

[2016-09-14 16:53] #59 closed

[2016-09-14 16:56] martinschaef commented on #61
Can't reproduce that ... I get a verify exception:

[code]

@rodykersten can you take a look?

[2016-09-14 17:03] rodykersten opened #62 "Unequal lengths VerifyException"
For several of our benchmarks (challenge2onebucket, textcruncher2sort, ImageProcessorMem/simple), I get the following exception:

Unequal lengths: challenge2onebucket/util/HashTable$Entry and [r0_key_4150, r0_value_4161, r0_prev_4172, r0_next_4183, r0_this$0_4194, r0_$dynamicType_6415]
	at com.google.common.base.Verify.verify(Verify.java:123)
	at jayhorn.hornify.encoder.StatementEncoder.pushToClau

[2016-09-14 17:36] #62 closed

[2016-09-14 17:39] martinschaef commented on #52
Merged with #62 and fixed.

[2016-09-14 17:39] #52 closed

[2016-09-14 17:40] rodykersten commented on #62
Thanks @martinschaef

[2016-09-14 18:10] rodykersten commented on #61
@martinschaef you don't get that VerifyException when you set -mem-prec to 0. The VerifyException is caused by #56, which I'm currently working on.

[2016-09-14 19:54] rodykersten commented on #61
Ok, so this VerifyException is slightly different from the one in #56. Both are caused by doing a pull of something that was not initialized. In this case, because it is set to null. In the case of #56, because it is an object that is returned by a library call and we do not currently do a push in the stubs (will fix that soon).

I'm not sure how to handle this one. Right now, the left hand side (

[2016-09-14 22:22] #56 closed

[2016-09-14 23:50] rodykersten commented on #60
I think this is Soot's way of catching the null dereference. Added a check for that now.

[2016-09-14 23:56] #60 closed

[2016-09-15 02:47] martinschaef commented on #61
Just added a test case (but accidentally pointed it to #60). If you look at the bytecode, you will see that the exception transformer does not introduce an assertion. The jimple code looks as follows:

[code]
I'll look into it.

[2016-09-15 03:03] #61 closed

[2016-09-15 08:52] pruemmer commented on #61
Now it works, thanks! ;-)

[2016-09-15 08:54] pruemmer commented on #48
There are two ways to solve this: either we add explicit clauses defining multiplication, division, etc.; or we rely on the Horn solver to provide according operations.

I'm inclined to go for the first option for the time being, which looks a bit more flexible?

[2016-09-15 08:57] pruemmer opened #63 "Generate meaningful output when assertions might be violated"
We should mark clauses with information about the corresponding assertion in code (say, NullPointerException in line X), and then generate output like "Could not verify absence of NullPointerException in line X".

With the framework for labelling clauses that Teme introduced, that should be fairly simple?

[2016-09-15 09:03] pruemmer opened #64 "With option -out <dir>, clauses are written twice in SMT-LIB format"
E.g., I get

[code]

[2016-09-15 09:58] pruemmer opened #65 "Don't havoc the lastpush variable"
The semantics of "pull" should be to overwrite the lhs variables, so that we don't have to havoc any of the variables beforehand:

[code]

Getting rid of the `call <Havoc_Class: int havoc_int()>()` removes an enormous number of (non-linear) clauses.

[2016-09-15 13:04] pruemmer opened #66 "With -mem-prec 0, JayHorn is less precise than expected"
Even with  -mem-prec 0, I would expect JayHorn to be able to verify the following program:

[code]

since it is enough to figure out the object invariant "x > 0". JayHorn thinks this program is unsafe however.

The example works fine without the -mem-prec 0

[2016-09-15 13:08] pruemmer opened #67 "Unsoundness in improved memory model"
With options `-rta -mem-prec 0`, the attached program is correctly identified as unsafe. When I remove the `-mem-prec 0`, the program suddenly becomes safe.
[BinaryTreeSearch.java.zip](https://github.com/jayhorn/jayhorn/files/474677/BinaryTreeSearch.java.zip)

[2016-09-15 13:10] pruemmer commented on #67
Might be related to #57

[2016-09-15 13:42] pruemmer opened #68 "Simple program with an array cannot be verified"
With options `-rta -mem-prec 0`, the following program cannot be verified:

[code]

something seems to be wrong with the way array length is handled here?

I get result SAFE if the option `-mem-prec 0` is removed, but the solution looks too simple.

[2016-09-15 16:29] martinschaef opened #69 "Refactoring of CallStatement translation made things unsound"
As @rodykersten pointed out my refactoring of [the CallStatement to Horn](https://github.com/jayhorn/jayhorn/blob/f40eda0fa761361aee21d6970e28bc03cbf511a2/jayhorn/src/main/java/jayhorn/hornify/encoder/StatementEncoder.java#L175)  in [this commit](https://github.com/jayhorn/jayhorn/commit/f40eda0fa761361aee21d6970e28bc03cbf511a2)
broke JayHorn. Now the classic Horn problems are unsound.

@pruemmer

[2016-09-15 19:46] martinschaef commented on #69
This can be merged with #68 now.

[2016-09-15 19:46] #69 closed

[2016-09-15 19:58] martinschaef commented on #68
Yes, something is fishy. Added [this test case](https://github.com/jayhorn/jayhorn/blob/bcf403ea5e8e12537186d664a3fd2c9248a81908/jayhorn/src/test/resources/horn-encoding/backlog/UnsatIssue68.java). It passes with `-mem-prec 0` and fails otherwise. @rodykersten that's your ball :)

[2016-09-15 20:01] martinschaef commented on #67
Merged with #68

[2016-09-15 20:01] #67 closed

[2016-09-15 20:08] martinschaef commented on #58
Let's post the test case for reference first:

[code]

Shouldn't it be sufficient that `a` and `b` are guaranteed to be different? I added a flag `-callid` to add the line number but that doesn't seem to make difference.

[2016-09-15 21:30] martinschaef commented on #66
Added [unit test](https://github.com/jayhorn/jayhorn/blob/b8d6da440640ab0e31eb8a68216fecfdd9ee8f2d/jayhorn/src/test/resources/horn-encoding/backlog/SatIssue66.java) with this snippet.  Fails with -mem-perc 0, and 1 but should pass. Throws an exception for -mem-prec >= 2

[2016-09-15 21:44] martinschaef commented on #57
I looked into it and I think there is actually a different problem. If you look at the output:

In method `setField`:

[code]

and then in  `main`:

[code]

You can see that there is a path in `setField` where a `NullPointerException` is generated and thus `i` is not updated. However, `main` does not pick up this exception. In this case there is actually a path that goes from the constructor of `A

[2016-09-15 22:52] rodykersten opened #70 "Move all stubbing to CFG side"
We now have a MethodStubber that works on Jimple and a CfgStubber that works on CFG level. Fooling around with library methods is messy. Better to move all functionality of the MethodStubber into CfgStubber if possible.

[2016-09-15 22:55] #65 closed

[2016-09-15 23:40] martinschaef commented on #70
This is indeed annoying. The reason why I did not merge them back then was as follows:
The `CfgStubber` should only replace a method by something that havocs the return value and do nothing if there is no return value.
The `MethodStubber` should deal with the problem that there are many constructors that do not have a body. If we don't add a body that sets the dynamicType, we get `assume false` al

[2016-09-16 00:27] rodykersten commented on #58
findBugs notes that the call id is not actually used (you just added it to the havoc, not the pull/push and I just remove the havoc to address issue #65). That's probably why SatInstances still fails. Will work on this tonight. Now that I'm thinking about it, the current alias analysis is not precise enough to detect that a and b are different. I will add an issue for that.

[2016-09-16 00:31] rodykersten opened #71 "Make alias analysis more precise"
Alias class is determined by push ID right now. This means that for A a = new A(); A b = new A();, since the same push is used, i.e. the one at the end of the constructor for A, we cannot distinguish a and b. Can be fixed by making the site of the constructor call determine the alias class.

[2016-09-16 03:12] rodykersten commented on #58
What you were getting @martinschaef is the line number for the push, but that cannot make a difference as the push already has a unique ID. I meant adding the location where the method is called from, but I think that's not a good idea. The way to go is probably to use a more precise alias analysis. I'm merging this with #71.

[2016-09-16 03:17] martinschaef commented on #58
@rodykersten I actually implemented passing the line number into the method if you use the `-callid` option. For example, when running `SatInterproc` with that, you get intermediate code like this:

[code]

You can see the large int that gets passed into the method? That's hashcode of the call statement. We could also just enumerate them.

[2016-09-16 03:38] rodykersten commented on #57
@martinschaef that is actually exactly why I opened this issue (open your own issue about exceptions, you bully :P ) ->
"JayHorn does not properly detect that only the push in the called method setField can affect the assertion. I implemented the mustShadow method, but reading the javadoc now it looks like I did not do it as intended."
I'm not sure how to implement mustShadow, we should have a cal

[2016-09-16 03:43] martinschaef commented on #57
All your issue are belong to us!
But it's a real bug on my side: if you don't run `-rta`, the `i=0` in the constructor of `A` actually can reach the assertion in `main` ... so this is my bug now.
Let's talk about mustShadow tomorrow - but I have meetings after 2pm, so it has to be early.

[2016-09-16 03:51] rodykersten commented on #61
I think this should not have been closed? The test case still fails. It also fails at code version a158361. Also with -mem-prec=0.
@martinschaef I think this issue might just be everything that you're looking for and more

[2016-09-16 03:54] rodykersten commented on #61
Oops my bad, with -rta it works. Why is that not the default?

[2016-09-16 03:56] rodykersten commented on #61
But it does not work with the current code...

[2016-09-16 03:56] martinschaef commented on #61
Works for me with mem_prec 0 and rta

[2016-09-16 04:00] martinschaef commented on #61
Back to your question why `-rta` is off by default. Look at this example:

[code]

If `-rta` is switched on, you would get an assertion violation in `boom`. But you don't want that.

[2016-09-16 04:48] rodykersten opened #72 "SpecTests fail on translation to Horn with or without using specs"
7 of the SpecTests fail on this assertion on line 185 of StatementEncoder:
Verify.verify(!cs.getReceiver().isEmpty() || calledMethod.getReturnType().isEmpty());

[2016-09-16 08:08] pruemmer commented on #72
I thought I commented this line ... I don't think the assertion actually makes sense, at least not anymore?

[2016-09-16 08:23] pruemmer commented on #58
I actually have a simpler idea how we can handle the `a.i==41` example: we should start to systematically inline sufficiently simple methods. For a function like `setI` it does not make sense to derive a full contract, much more reasonable to inline such calls (on the CFG level). We then get two separate push locations and can distinguish 41 and 42.

I would expect inlining to lead to significant

[2016-09-16 14:56] martinschaef commented on #72
True ... that came back in when I reverted my changes in the StatementEncoder.

[2016-09-16 16:30] pruemmer opened #73 "Method inlining"
Copied from #58

I actually have a simpler idea how we can handle the `a.i==41` example: we should start to systematically inline sufficiently simple methods. For a function like `setI` it does not make sense to derive a full contract, much more reasonable to inline such calls (on the CFG level). We then get two separate push locations and can distinguish 41 and 42.

I would expect inlining to lea

[2016-09-16 16:47] #72 closed

[2016-09-16 17:00] martinschaef commented on #73
I'll look into this when I start working on #57

[2016-09-16 17:36] rodykersten opened #74 "Add havoced pushes on the fly"
Stubbing library methods only goes so far. If an object is returned by a lib method, we havoc all fields of the object in the stub. However, if these fields are again references, the memory model will not be able to find a push if these fields are pulled. We should add a push of havoced values on the fly in that case.

[2016-09-16 18:16] #70 closed

[2016-09-16 18:49] martinschaef commented on #68
Not sure why this is closed. For me it still throws an exception for mem-prec 2 and 3.

[2016-09-16 18:52] rodykersten commented on #68
It was closed because it now reports the possible NullPointerException for mem-prec 0. For mem-prec 2 and 3, this should be fixed with #74. Almost done with that.

[2016-09-16 19:21] #74 closed

[2016-09-16 19:48] rodykersten opened #75 "Don't run InterproceduralPullPushOrdering 3 times"
We run it 3 times now: for the MissingPushAdder, the PushIdentifierAdder and at the translation to Horn. Can probably be done more efficiently.

[2016-09-17 00:00] rodykersten commented on #66
Programs with constructors actually never worked at mem-prec 0 AFAIK. If you remove that, i.e. check the variation below, then it works at mem-prec 0.
`public class SatIssue66 {
    public int x;
    public static SatIssue66 a = null;

    public static void main(String[] args) {
        SatIssue66 a = null;
        for (int i = 0; i < 3; ++i) {
            a = new SatIssue66();
            a.x =

[2016-09-17 00:05] rodykersten commented on #66
The exception thrown at mem-prec>=2 however, that one pointed me to a tricky off-by-one that made the pushIDAdder skip a push... Fixed with my next commit.

[2016-09-17 00:20] #66 closed

[2016-09-17 03:15] #64 closed

[2016-09-17 18:16] #57 closed

[2016-09-17 20:33] rodykersten opened #77 "Unsoundness in memory model"
For test case UnsatTwoInstancesSimple in mem-precision (moved from Sat07 in packunpack dir) we get SAT. CFG below, note that it is missed that push 2 influences the pull of r1.

(ln 13)	r1_i_02, $r3_$dynamicType_5851, lastpush := pull(A, r1)
(ln 13)	assume ((lastpush == 6) || (lastpush == 8))
(ln 13)	r1_i_02 := 42
(ln 13)	lastpush := 2
(ln 13)	push(A, r1, [r1_i_02, $r3_$dynamicType_5851, lastpush]

[2016-09-17 20:55] #68 closed

[2016-09-17 21:09] rodykersten commented on #77
Duplicate of #71. Will mark that one as a bug, as it introduces this unsoundness. The fact that the pushID is used as alias class means that r1 and r2 get the same alias class and thus are considered the same object, i.e. they 'must alias' and a push for one 'shadows' all the others. Also, the fact that 'mustShadow' does not seem to be implemented as intended influences this. We still need to talk

[2016-09-17 21:09] #77 closed

[2016-09-17 21:10] rodykersten commented on #71
Introduces unsoundness, see #77.

[2016-09-18 01:15] rodykersten opened #78 "SatIssue66 and SatConstructor don't work anymore"
Since the update to the points to analysis, these don't work anymore.

[2016-09-18 01:15] #71 closed

[2016-09-18 01:17] rodykersten opened #79 "Add context sensitive points to analysis"
Add an optional more precise points to analysis, where points to sets are generated specifically for each CfgBlock.

[2016-09-18 02:46] martinschaef commented on #73
@pruemmer in branch `issue_73` I added two new flags `-inline_count` and `-inline_size`. JayHorn tries to inline any procedure whose size (in number of instructions before inlining) is less than `-inline_size` or who are called less than `-inline_count` number of time.
Self-calls are not inlined.

The results don't indicate any improvement. Can you test it and look into the inlined code if this is

[2016-09-18 20:09] #78 closed

[2016-09-18 20:13] rodykersten commented on #58
Since inlining does not seem to help and the old implementation of this was not correct, I want to try again. Re-opening.

[2016-09-18 20:26] pruemmer commented on #73
I'm looking at this right now. For some examples, inlining does indeed give a significant speed-up; but currently it does not help for the `a.i==41` example. This is puzzling, since the example works if I do the inlining by hand (on the source level).

To verify, inlining is done _before_ pushs/pulls are optimised?

[2016-09-18 20:38] pruemmer commented on #73
It seems to me that this might be the problem, the inlining is happening too late?

[2016-09-18 22:01] martinschaef commented on #73
@rodykersten is there any steps you do that should happen *after* the inlining? Right now, the inlining happens at the very end. It also deletes all methods in the program that are not reachable from the entry point.
I'm also thinking of implementing sth that propagates constants (and removes assignments in basic blocks. After the inlining, there are a lot of statements that can be dropped... I'll

[2016-09-18 23:01] martinschaef opened #82 "Fix constant propagation and dead code elimination."
After the inlining, methods a bloated with useless variable renamings. We should have a constant propagation and dead code elimination to clean that up. I tried these old classes:

[code]

But they don't work anymore. Not sure if it makes sense to fix them. @rodykersten you do a lot of flow stuff, does it make sense to keep them or shall we use some of your code to remove useless assignments?

[2016-09-18 23:38] rodykersten commented on #73
Yes, simplification could be more effective and alias analysis and adding of push id's could be more precise if you do inlining before.

[2016-09-18 23:48] martinschaef commented on #73
Would you mind taking a look at this? The inlining is just [these two lines](https://github.com/jayhorn/jayhorn/blob/devel/jayhorn/src/main/java/jayhorn/checker/Checker.java#L50), so it should be easy to move around. Note that it throws away methods and deep-copies blocks, so any reference to statements that you build up may break during inlining.

This should solve several issues at once, if it w

[2016-09-18 23:49] rodykersten commented on #82
Your code has a nice generic visitor structure, while mine is more specialized (simple loops over statements and mostly considers push/pull only). I think it makes sense to keep yours.

[2016-09-18 23:51] martinschaef commented on #82
Well ... it's not my code. The guy who wrote it isn't working on this anymore, and the stuff doesn't  work anymore. That's from way back in the days when we didn't have pull and push, so I'm not sure if fixing it makes a lot of sense.

[2016-09-18 23:57] rodykersten commented on #82
Now that there's several different classes that do stuff on the CFG level I think it makes sense to refactor that stuff a bit (probably after VMCAI), visitor pattern seems appropriate. For now I guess we can do something similar here as for e.g. PushIdentifierAdder, MissingPushAdder, etc.

[2016-09-18 23:58] rodykersten commented on #73
Sure, though it'll probably be Tuesday or later.

[2016-09-20 02:56] martinschaef commented on #82
I just relabeled this as a bug because these visitors do strange things. `ExpressionInliner` and `ConstantProp` trigger an assertion because they mix `int` and `java.lang.Integer`.

`DeadCodeElimination` really breaks stuff. After applying that we can't prove anything. I still haven't figured out why.

[2016-09-20 03:25] martinschaef opened #83 "Bug in the ArrayTransformer"
The generated `set` method as a wrong branch. Instead of haven sth like

[code]

it adds one extra branch going and becomes:

[code]

[2016-09-20 03:37] #83 closed

[2016-09-20 03:56] martinschaef commented on #82
#83 fixes some of this. However, `DeadCodeElimination` only works if we pull the edge labels into the blocks as assume statements. This is troubling because the issue might be the liveVariable analysis. At least the pre-block analysis seems to ignore the variables in the edges. @rodykersten do you use that somewhere, or do you only use the LiveVars computed directly on the method?

`ExpressionInli

[2016-09-20 05:31] martinschaef commented on #82
Could you review [this part](https://github.com/jayhorn/jayhorn/blob/devel/soottocfg/src/main/java/soottocfg/cfg/method/CfgBlock.java#L166) and [this part](https://github.com/jayhorn/jayhorn/blob/devel/soottocfg/src/main/java/soottocfg/cfg/method/CfgBlock.java#L218)? I think I'm right about this. The live variables of a block should contain the variables from incoming and outgoing edges ... its no

[2016-09-20 16:59] rodykersten commented on #82
I did not write that liveness code... Where is it used?

[2016-09-20 17:37] martinschaef commented on #82
@rodykersten  soottocfg.soot.util.FlowBasedPointsToAnalysis.variableFromExpression(Expression)

[2016-09-20 22:50] rodykersten opened #84 "Example breaks AssertionReconstructor"
I added SatIssue84 to the backlog which throws an exception in the AssertionReconstructor.

[2016-09-20 22:51] rodykersten commented on #84
It's a corner case, no rush to fix this.

[2016-09-21 00:27] martinschaef opened #85 "Strange soundness error for Switch over Enum in Subpackage"
The following two-file program gives unsound results:

[code]

[code]

Test case for this is in `jayhorn/src/test/java/jayhorn/test/assorted_tests/MutliFileTest.java`.

Random observations so far:

  - bug occurs because of the Switch and the Enum. If we change the switch into an if, or the enum into an int, it goes away.
  - bug only occurs if the two files are not in the same package. If Environ

[2016-09-21 02:51] rodykersten opened #86 "Array bounds check bug"
It seems to me that (definitely without the -rta option), SatIssue86 should pass. This is why we get UNSAFE for InsertionSort, even without an assertion.

[code]

[2016-09-21 03:54] martinschaef commented on #86
Note that rta only treats all runtime exceptions as assertions. Even without the rta, there will be a bounds check. And since you're in main, this will become an assertion one way or the other.
You should add an `if (args.length < ?) return` in the beginning.

---
Martin Schäf

[2016-09-21 04:56] martinschaef commented on #86
Ok - email comments don't work well, so here a markdown comment:

The `-rta` option only turns all runtime exceptions as assertions. Even without the `-rta`, there will be a bounds check. And in `main`, this will become an assertion one way or the other since we enforce that `main` does not throw anything.
You should add an `if (args.length < 1) return;` in the beginning.

[2016-09-21 05:03] martinschaef commented on #86
This is a simpler version that also fails:

[code]

Probably we should look into the Array stubs. Maybe they are buggy. I'll put it on my list. But I'll do the soundness stuff first.

[2016-09-21 18:16] rodykersten commented on #85
Great job @martinschaef

[2016-09-21 19:29] martinschaef commented on #86
Another variation:

[code]
It passes if we replace `N` in the `for` loop by `args.length` and fails otherwise ...

[2016-09-21 20:43] rodykersten opened #87 "Unsoundness with method override"
For UnsatIssue87 below, we get SAT while the result should be UNSAT. Note that we get UNSAT if the override of method key() is removed.

[code]

[2016-09-21 20:51] rodykersten commented on #87
Looks like node.key() introduces an assume(false). This also gives SAT:
[code]

[2016-09-21 21:52] #87 closed

[2016-09-22 18:33] martinschaef opened #88 "Currently, we do not use the information that a variable is unique"
In the cfg, we have the information that if variable is constant or unique. However, this is not used when encoding things as Horn. Hence, we fail to verify the following program:

[code]

@pruemmer can you do this? I some other things to work on.

[2016-09-22 18:38] #84 closed

[2016-09-22 21:18] martinschaef commented on #88
As part of this: `soottocfg.cfg.variable.Variable.isUnique()` is currently not used anywhere. The translation to Horn should use that.

[2016-09-23 00:56] martinschaef commented on #88
I mark this as a bug ... because if you create new Objects in a loop, we still only create one variable ... there is no havoc before or anything.

[2016-09-23 03:06] martinschaef commented on #85
That was too fast. It's still broken for some examples. Pushing new tests in a second.

[2016-09-23 05:24] martinschaef commented on #85
Just downgraded it from bug to enhancement since the current version at least does not do anything unsound on our benchmarks.

[2016-09-23 08:06] pruemmer commented on #88
Identifying distinct objects is one of the central issues in verification, there is no single good solution for this. (E.g., I know that the Seahorn people are also fighting with this issue). The isUnique flag is not very useful for this, since it is still possible to create new references pointing to old objects. I will see whether we can tune the Horn encoding a bit to take into account that uni

[2016-09-23 09:07] pruemmer commented on #88
The SatIssue88 example is an interesting case, but I don't see that it would have anything to do with distinctness of objects.

The problem is: somehow our precise memory model is less precise than it should be. In the following CFG, the push with id 2 is shadowed by the push with id 3, but in line 18 both pushes are considered. The case `lastpush == 2` should not be in line 18?

If I manually rem

[2016-09-23 14:42] martinschaef commented on #88
Interesting indeed. However, the memory model can only detect that `lastpush == 2` cannot happen if it has a way of figuring out that the path where the constructor throws an exception is not feasible.
I was hoping that the theorem prover can handle that but we can certainly do some simplification beforehand. @rodykersten, let's talk about that later.

Let's split up the other work. I want to do t

[2016-09-23 17:31] rodykersten commented on #88
@pruemmer we do these two things already as part of the points to analysis:
-     as discussed earlier, keep track of the allocation site of an object as part of the reference. Objects with different allocation sites have to be distinct; this would immediately solve the SatCompare example above
-     introduce an "allocation counter" that is incremented each time an object is created. The allocati

[2016-09-23 19:52] rodykersten commented on #88
When you run this SatIssue88 example with mem-prec 0, you see that actually having a push at line 6 makes sense. Namely, there is a path for which there is no push to 'this' after that one. That path is when the superclass constructor throws an exception.
[code]

[2016-09-23 19:55] rodykersten commented on #88
With Martin's last commit this one works for me. Don't know why you get a time out? It's very fast for me.

[2016-09-23 19:58] martinschaef commented on #88
Actually, the timeout happened in a different example ... at that was because it took more than 5 sec. So, never mind. My last commit fixes a few examples but does not solve the issue yet: for other minepump examples I still get unsat.

[2016-09-23 21:35] rodykersten opened #89 "Enumerations don't work"
The reason all those MinePump examples don't work is that they contain an enum. I've added this minimal example that we can't prove:

[code]

I have to read up on how enum are implemented in Java, but it seems that they are handled as objects but there are no constructors.

[2016-09-26 00:18] martinschaef commented on #73
@rodykersten on MinePump, inlining makes everything timeout (even for large timeouts). We should look into this. But more importantly, we should do the inlining before your alias analysis etc.

[2016-09-27 00:15] rodykersten opened #93 "Bug in VirtualCallResolver"
The example RedBlackTreeSearch in the 'algorithm' dir breaks this assertion in the VirtualCallResolver: Verify.verify(t instanceof ArrayType);

[2016-09-27 05:37] rodykersten commented on #73
Managed to move inlining before the optimizations. The problem was unsoundness in the moving of pushes and pulls. It did not actually use the points to analysis yet. But it does now. Big soundness test looks good. Will test on benchmarks tomorrow.

[2016-09-27 10:41] martinschaef commented on #93
@rodykersten I'm a bit short on time today. Could you add a unit test to backlog for me then I'll try to fix it tonight.

[2016-09-27 15:00] rodykersten commented on #93
We were not planning to add this one to the paper, so better focus on writing maybe?

[2016-09-29 08:18] pruemmer opened #94 "BinaryTreeSearch: too many pulls, too many pushes?"
I'm checking right now why BinaryTreeSearch_true does not work, and somewhere in between source code and cfg strange things seem to happen. The code is:

[code]

and the resulting cfg is:

[code]

Two questions:
- why are the pulls in Block6 and Block8 not merged? Block8 only has a single incoming edge; the fact that we have two separate pulls implies that we don't know that `curr != null` after l

[2016-09-29 17:37] rodykersten commented on #94
Question 1:

They are not merged because of a restriction on moving push/pull across the CFG. Before moving e.g. the pull at the start of Block 8 up in the CFG, into Block 6, it is checked whether there is a path through Block 6 that leads to Block 8. There is, through 6, 4 and 10. It is then not moved, to prevent moving statements around in circles.

If we can identify loop headers, then I think

[2016-09-29 18:02] rodykersten commented on #94
Question 2:
What we do is add a pull-push pair around every field access (read or write), then apply the simplification rules to remove unneeded ones. There is currently no rule that says that in:
[code]
if ..code.. does not update the value of a1 or a2, the push can be removed. We can add that, but it will need to go over all statements in between all pull's and push's of objects of the same (or

[2016-09-29 18:56] pruemmer commented on #94
Concerning 1:
I see. It is not even necessary to compute loop heads though to prevent cycles. One can simple compute the distance of each block from the entry point (say, using Bellman-Ford), and then only allow pulls to move closer to the entry, and pushes to move further away

[2016-09-29 19:00] pruemmer commented on #94
Concerning 2:
We can easily optimise by not adding a push in case of reads in the first place?
But I think the unsoundness problem has a different reason: we have to make sure that the reference `a` is not modified in `code`, regardless of whether we are handling reads or writes. Otherwise you will push back to a different object than you pulled from.

[2016-09-29 20:23] martinschaef commented on #94
@rodykersten all graph utils are in soottocfg.cfg.util. In particular there is a class LoopFinder<V>. That should have everything you need.

[2016-09-29 20:24] rodykersten commented on #94
Thanks, but I already implemented it as @pruemmer suggested. Pushing shortly..

[2016-09-29 21:06] rodykersten commented on #94
First two points are implemented in my last commit.

[2016-09-30 02:35] martinschaef commented on #89
I'm pretty sure that this is because we don't have a good way of handling arrays (there is a bunch of arrays in the bytecode) ... we talked about modifying Push for that. But that's out of scope.

[2016-09-30 02:40] #93 closed

[2016-09-30 02:42] martinschaef commented on #85
I close this because it is a duplicate of #89.

[2016-09-30 02:42] #85 closed

[2016-09-30 12:23] pruemmer commented on #94
Thanks!

For BinaryTreeSearch, I now observe the following problem:

[code]

I can see two problems here: (1) why are the push and pull not merged? and (2) why do we push undef_ values? they seem to be the reason why we get an ArrayIndexOutOfBound exception one line later

[2016-10-04 20:28] rodykersten commented on #73
Merged with the recent version. Inlining breaks (only) some of the examples in mem-precision. Not sure why yet.

[2016-10-06 23:40] rodykersten commented on #73
I figured out two things:
- Inlining of constructors breaks the points to analysis. The PTA determines alias classes based on constructor calls. I disabled inlining of constructors to fix this.
- Inlining creates copies of variables, of which JayHorn does not know they are related to others. This breaks e.g. SatAliasing01 in mem_precision. I realized that the points-to analysis does not merge alia

[2016-10-07 21:36] rodykersten commented on #73
Turns out the two failing tests SatAliasing01 and 02 are due to very limited dead code elimination. So, they will be fixed in #82. I'm closing this one and merging my code back into devel.

[2016-10-07 22:34] #73 closed

[2016-10-07 22:44] rodykersten commented on #82
DeadCodeElimination only removed edges to CfgBlocks where the label was a false literal. I've added the soottocfg.cfg.optimization.ExpressionEvaluator class to calculate expression return values statically where possible. Right now, it only works with boolean literals (a slight improvement is that it can also deal with expressions over boolean literals now), but we can implement stuff for e.g. int

[2016-10-07 23:34] rodykersten commented on #82
I've added some Soot optimizations which take care of SatAliasing01 and 02. I'm not sure it makes sense to also implement our own DeadCodeElimination at CFG level... I've also found a class for inlining Jimple methods. How about we just use that one instead of ours, then run the Soot optimizers after that? I'm talking about this class: soot.jimple.toolkits.invoke.SiteInliner

[2016-10-07 23:40] rodykersten commented on #82
Hmm I guess if we use that inliner, we miss some methods that JayHorn adds. Maybe stick with what we have for now.

[2016-10-08 00:26] rodykersten commented on #94
The push is added by the MissingPushAdder. This class adds pushes for pulls that do not have an associated push yet. This is the case e.g. for objects that are returned by a library method or as in this case, are program input. If we don't add that push, the pull becomes an assume(false). You'll see that if you remove that one, you also get SAFE for the _false versions of BinaryTreeSearch.

Note t

[2016-10-17 14:34] pruemmer commented on #94
I see; but in this case, the additional push comes _after_ some pull from the same object?

[2016-10-17 16:44] rodykersten commented on #94
I don't see where that happens here? What should happen on a write to a field a.f is that first we add a pull before and a push after the field access. Then, if there is no push that can affect that pull, we create one with unbound variables. So then we'll have push(a, undef...); a = pull(), a.f = y; push(a, y, ...);. After that we apply the simplification rules, which may or may not remove some o

[2016-10-17 20:39] pruemmer commented on #94
For the latest JayHorn, I get the following cfg; the push in Block2 should not be necessary, since there is already a push to the same object in Block1?

[code]

[2016-10-17 20:41] pruemmer opened #97 "Introduce a dedicated lastpush field in push/pull instructions"
Instead of the construction using a variable`lastpush`, the object representing a push/pull should explicitly store the push id, resp. the set of push ids that a pull can refer to. The Horn encoder can then choose how to exactly represent the lastpush thing (e.g., by introducing a separate Horn predicate for each push site, as currently done via an ugly hack)

[2016-11-04 16:56] lememta opened #98 "Stubbing generates code that mixes bool and int types"
Let's not confuse bool and int :)

[2016-11-06 14:49] martinschaef commented on #98
To be more precise, @lememta is complaining about [this example](https://github.com/jayhorn/jayhorn/blob/devel/jayhorn/src/test/resources/horn-encoding/backlog/TypeCheckingIssue98.java).

The issue is that `nextBoolean` returns an `int` instead of a `bool` on the Horn level. Note that on the cfg level the method actually returns a `bool` so the problem is introduced later down the pipeline.

This

[2016-11-07 17:53] rodykersten commented on #98
This is done in soottocfg.cfg.util.CfgStubber. I can have a look at that later today.

[2016-11-08 04:44] rodykersten commented on #98
I fixed the problem in the CfgStubber.

[2016-11-17 17:06] martinschaef commented on #98
@lememta is the problem gone? If not, can you give us another example? If it works now, please close the issue.

[2016-11-17 17:08] martinschaef commented on #29
merge with #89

[2016-11-17 17:08] #29 closed

[2016-11-20 22:56] martinschaef opened #99 "Print final heap invariants"
Is there a way to see the assignment that the solver picked for the heap invariants? I'm working on passing the caller ID around and introduced some unsoundness, but it's nasty to debug without seeing what the solver does.

[2016-11-20 23:00] martinschaef commented on #58
I started working on this in the `caller_id` branch but it's currently unsound and I'd need some help with #99 before I can make real progress.

[2016-11-21 08:14] pruemmer commented on #99
Option -solution?

[2016-11-21 12:41] martinschaef commented on #99
Ah ... didn't know this was working. It's disabled if we have a timeout set for the solver - see [this line](https://github.com/jayhorn/jayhorn/blob/devel/jayhorn/src/main/java/jayhorn/solver/princess/PrincessProver.java#L332). Could we change that?

[2016-11-21 22:08] rodykersten opened #100 "Push/pull of subclasses bug"
Code below is UnsatIssue100.java
[code]
We get these pulls:
[code]
I suppose this should be a single pull:
[code]

Same thing happens for pushes. At mem-prec = 3 this creates an unsoundness, as the assumption  (lastpush == 3) cannot be met.

[2016-11-29 20:07] martinschaef commented on #99
found a way of printing, so lets close this for now.

[2016-11-29 20:07] #99 closed

[2016-12-04 00:22] martinschaef opened #101 "What does this do?"
@pruemmer @rodykersten what does [this code](https://github.com/jayhorn/jayhorn/blob/cf1f783433e9ab2f13429a8da66c367e142ff7c4/jayhorn/src/main/java/jayhorn/hornify/encoder/MethodEncoder.java#L234) do? Did we agree on where we implement the 'lastPushID' stuff?

[2016-12-05 15:08] martinschaef commented on #88
Closed in caller_id branch. Will merge back into devel soon.

[2016-12-05 15:08] martinschaef commented on #100
Closed in caller_id branch. Will merge back into devel soon.

[2016-12-05 20:25] #88 closed

[2016-12-05 20:25] #100 closed

[2016-12-06 16:38] lememta commented on #98
This is working now.

[2016-12-06 16:38] #98 closed

[2016-12-07 03:37] rodykersten commented on #101
Closed. We put this in the StatementEncoder.

[2016-12-07 03:38] #101 closed

[2016-12-07 03:38] #97 closed

[2016-12-07 03:42] rodykersten commented on #58
@martinschaef what's the status of this one? I didn't fully remove the ghost variables from push and pull yet, as it's used by this callerID stuff. It's probably better to - similar to last push - have a dedicated field for this in the PushStatement/PullStatement classes and handle this in the StatementEncoder.

[2016-12-07 04:28] martinschaef commented on #58
I'm not sure. My first attempt sucked, but the idea was pretty naive - I'm still convinced that having the calling context may be useful. However, just passing in the id of the immediate caller will not be a solution. I'll think more about it.
Leave these ghost fields around. We do not use them right now, but I'm pretty sure we'll find an application for them. In the end, we might want to be able

[2016-12-07 05:07] rodykersten commented on #31
This test was removed. I picked up an old version and put in the backlog dir. It's unsound. The issue is probably related to the Exception transformer, as this has a try-catch-finally block and outputs this:
TODO: 1 traps could not be removed for <UnsatDynamicTest03: int withExceptionMethod(int)>

[2016-12-07 05:15] martinschaef commented on #31
I'll have to look into that... I remember that I just gave up on this before the deadline... it's not actually unsound on the reasoning side, it's the transformation that throws away code as far as I remember... to the cfg/horn part is ok, but the cfg construction throw stuff away that shouldn't be thrown away.

[2016-12-08 00:33] #75 closed

[2016-12-09 17:23] martinschaef opened #103 "Printing of solutions"
I implemented this nice code that prints invariants in a human readable form ... but its not called anymore ... anyone an idea why?

[2016-12-09 17:29] #103 closed

[2016-12-12 17:31] martinschaef opened #104 "Tuple types equality"
When comparing two types created with `Prover.getTupleType` we have to use `equals` instead of `==`. For all other types `==` worked fine. This is not an immediate problem, but since `==` was ok before, there might be bugs popping up where we mixed the two. If we can, e.g., do some bookkeeping to make sure that `==` works as well, we wouldn't have to re-test things.

[2016-12-14 16:10] martinschaef opened #105 "Exception in FlowBasedPointsToAnalysis"
For `backlog/SatIssue86Minimal.java` there is an exception in `FlowBasedPointsToAnalysis.java`.

[2016-12-14 17:20] martinschaef commented on #86
`SatIssue86Minimal` works with the tuple encoding (but still throw an exception for mem-encoding 3)

[2016-12-14 17:51] rodykersten commented on #86
fixed

[2016-12-15 22:48] #105 closed

[2016-12-15 22:52] rodykersten opened #106 "Static field initialization bug"
SootToCfg throws an exception on SatIssue106
[code]

[2016-12-15 22:56] rodykersten opened #107 "More precise array model"
Arrays are currently only precise up to 5 elements. Implement support for array invariants that can be disjunctive on the index.

[2016-12-15 22:57] rodykersten opened #108 "Treat constructor calls as pulls"

[2016-12-15 23:09] rodykersten commented on #107
Looks like the current array model is broken (see tests in jayhorn/src/test/resources/horn-encoding/arrays/, Sat02-04 used to work). Probably due to #86. We'll have to fix that first.

[2016-12-15 23:50] rodykersten opened #109 "Off by one in method parameters"
The broken array test cases seem to be caused by an off by one in the method parameters, see test case backlog/SatParameters.java. This was recently introduced, probably with the tuple encoding. @martinschaef, any idea where this could happen?

[2016-12-16 00:15] rodykersten commented on #109
Hmm no, this is actually because we don't play nicely with booleans. The off by one must be introduced elsewhere.

[2016-12-16 00:40] rodykersten commented on #107
I've got to run now, but: the ArrayTransformer build a correct constructor body for JayHornArray_char, however, somewhere along the way it gets lost. The CfgStubber therefore builds a stub and we havoc the length and other fields.

[2016-12-16 17:55] #109 closed

[2016-12-16 18:20] martinschaef commented on #107
Looking into it.

[2016-12-16 18:33] rodykersten commented on #107
Actually I think I just fixed it.

[2016-12-16 18:34] martinschaef commented on #107
Damit ... just did the same

[2016-12-16 18:34] martinschaef commented on #107
Phone?

[2016-12-17 00:07] #106 closed

[2016-12-17 00:29] martinschaef commented on #108
Btw., this should also fix `SatTwoInstances` in `mem-precision`...

[2016-12-17 00:36] martinschaef opened #110 "Alias analysis doesn't seem to understand new."
Look at `SatTwoInstances` in `mem-precision`... that's where you have:
[code]
And the following cfg:
[code]
Looks like the two consecutive pulls:
[code]
are created because the alias analysis doesn't understand that r3 and r4 must not be aliased at this point. Maybe, the the alias analysis doesn't understand what the `soottocfg.cfg.NewStatement` means?

[2016-12-17 06:28] #110 closed

[2016-12-17 06:28] #108 closed

[2016-12-17 06:30] rodykersten commented on #107
Reopened, because the bug was fixed but there's no new model yet ;)

[2016-12-17 06:48] #86 closed

[2016-12-17 15:04] martinschaef opened #111 "Inlining is currently broken"
Big soundness test with
[code]

gives the following:

[code]

[2016-12-18 22:21] martinschaef commented on #111
fixed a few things, but `UnsatAliasing02.java` is still an issue. The inlining looks correct. I'd assume that the Alias Analysis gets confused somewhere.

[2016-12-18 22:39] martinschaef commented on #111
Never mind, my ball. The issue is that the inlined method may exit exceptionally, but after the inlining, we don't check if that happens, so there is a path that reaches the assertion where `m` terminated with a `NullPointerException`.

[2016-12-19 19:09] rodykersten commented on #89
This works now, closing.

[2016-12-19 19:09] #89 closed

[2016-12-20 06:45] rodykersten commented on #111
Fixed a pretty tricky problem in the simplifier. However, this is now happening for arrays/UnsatArray.java...

[2016-12-21 16:44] martinschaef commented on #111
I tried to minimize the example a bit. The following is the shortest I could come up with:
[code]
This is broken with inlining. It is works if the array is of a primitive type like `int`. So the `assume false` is introduced when we access `tmp.i`. I'll look into that.

[2016-12-21 16:58] martinschaef commented on #111
This is actually unsound, even without inlining ...

[2016-12-21 17:23] martinschaef opened #112 "Pull still moves in the wrong place"
I create a test case `backlog/UnsatIssue112.java` that shows how pull still moves in the wrong place for some cases:
[code]
If you look at the cfg code that implements `int x = tmp.i;` you'll find the following:
[code]
As you can see, it first gets the element from the array at position `0` which has the value `null`. Then it pulls `r2` (which is `null`) before checking nullness. Pulling on `null`

[2016-12-21 18:14] rodykersten commented on #112
I'm looking in to this. Obviously should not happen. I check whether all the variables are distinct from the object pulled and it seems getUseIdentifierExpressions() is not returning all of them for that assert.

[2016-12-21 20:42] rodykersten commented on #112
This was caused by the fact that null checks are spread over two statements:
[code]
The PushPullSimplifier would move the pull past both. I added a check to identify these null checks and, in case it is a null check for the object that is being pulled, not move past it.

[2016-12-21 20:42] #112 closed

[2016-12-21 20:46] martinschaef commented on #111
The example above is fixed with #112.

[2016-12-21 21:32] martinschaef commented on #111
I'll close it for now since all bugs are gone. But we still don't have an example where inlining actually makes things a lot better.

[2016-12-21 21:32] #111 closed

[2016-12-22 01:17] rodykersten commented on #107
The new array model works and is sound on the limited test cases we currently have. It needs more testing (please add cases to the test/resource/horn-encoding/arrays directory!) and there are a few bugs that I'm aware of. One is related to library methods that return an array. Another one (?) causes the solver to throw an Exception on more tests than before. Also, multi-dimensional arrays are not

[2016-12-22 17:54] rodykersten opened #115 "Support for multi-dimensional arrays"
There is some code for multi-dimensional arrays with the old array model, but it does not work / was not maintained.

[2016-12-22 18:17] rodykersten commented on #107
One test case is failing with an exception in the prover: backlog/SatArrayInit. Gotta look into that one. Other than that, the new array model is done.

[2016-12-22 19:21] martinschaef commented on #115
Where is that? Multi-dimensional arrays are a bit nasty in Java ... so we have to test that carefully.

[2016-12-22 19:23] rodykersten commented on #115
The existing code is in the ArrayTranformer, starting from line 459

[2016-12-22 19:44] martinschaef commented on #115
It was somewhat maintained, but it still is unsound. Added two test at `jayhorn/src/test/resources/horn-encoding/multi_array/` and will work on it.

[2016-12-22 22:41] rodykersten opened #116 "Havoc cannot return $null$"
A problem that I ran into when figuring out the issue with SatArrayInit is that there is an unsoundness in the way we havoc objects. I've created a pair of tests for this (SatHavoc/UnsatHavoc).

The created havoc method is the following, which misses the case where ``$ret_ == $null$``
[code]

[2016-12-22 23:21] #116 closed

[2016-12-23 00:33] rodykersten opened #117 "SatArrayInit Eldarica time-out"
For SatArrayInit in the backlog / FailingTests, with the new array model (options "-array-inv" and "-array-exact 0"), Eldarica times out.

I looked for problems with the translation but could not find anything, then ran with Z3 which gives a result quickly. So I guess it's a solver problem. Could you please have a look at this Philipp?

[2016-12-23 00:34] rodykersten commented on #107
Seems to be an Eldarica issue. Closing.

[2016-12-23 00:34] #107 closed

[2016-12-23 01:20] martinschaef commented on #115
Should be sound now ... let me downgrade to enhancement.

[2016-12-23 01:53] martinschaef commented on #115
It still is a bug because multi arrays get initialized in the wrong way:
```int[][] a = new int[1][2]```
Gets initialized as an array of arrays, but the inner arrays get initialized to `null` but should be initialized to arrays of size `2`.
Working on that now.

[2016-12-23 03:44] #115 closed

[2016-12-29 17:05] martinschaef commented on #82
@rodykersten I'll work on this a bit over the next few days. Do we have a test case where this actually fails?

[2016-12-29 17:06] martinschaef commented on #63
@lememta can you add that to your backlog?

[2016-12-29 17:07] martinschaef commented on #58
Since we have no idea if this adds any value, I close the issue.

[2016-12-29 17:07] #58 closed

[2016-12-29 17:53] martinschaef commented on #47
Looks like this is done. We can still add more things into the references but this should be done in separate issues.

[2016-12-29 17:53] #47 closed

[2016-12-29 17:54] martinschaef commented on #20
Closing due to inactivity.

[2016-12-29 17:54] #20 closed

[2016-12-31 22:55] martinschaef opened #118 "Strange behavior in cfg transformations"
I implemented a copy- and constant-propagator following Appel's book. The code that calls them is in [SootToCfg line 142ff](https://github.com/jayhorn/jayhorn/blob/devel/soottocfg/src/main/java/soottocfg/soot/SootToCfg.java#L142) but it is currently switched off. The switch it back on, just set the option to `true`. The problem is that it does produce the right output but still causes JayHorn to f

[2017-01-01 01:34] martinschaef commented on #118
Just diffed the program after running `PushPullSimplifier` and the program after copy propagation is one pull statement less. Fwiw, I [made a gist](https://gist.github.com/martinschaef/510f55e08e64898db26cdeb8d8c88870) with the version without copy propagation and then the version with copy propagation. Take a look at the diff ... looks ok, so there has to be an issue elsewhere...

[2017-01-02 01:46] martinschaef commented on #118
My bad ... just saw that the problem is actually that after copy propagation it fails to eliminate one push (had the diff the wrong way around). Will look into `PushPullSimplifier`

[2017-01-02 04:59] #118 closed

[2017-01-02 05:01] martinschaef commented on #31
I don't think it's a bug and the test passes currently. There might be situations where we cannot remove all traps. This usually happens when the compiler (or soot) introduces strange catch-all stuff. However, I'll remove the bug label unless we find a case where this actually causes a problem.

[2017-01-02 05:02] martinschaef commented on #55
@lememta, do you want to mark it as closed or are you still working on that?

[2017-01-02 05:05] martinschaef commented on #82
I added new classes for this in `soottocfg/src/main/java/soottocfg/cfg/optimization/dataflow/`. They implement the algorithms based on reaching definitions in Apple's book. For SatInstances, they reach the fixpoint too early and fail to propagate some variable. I'll have to look into that.

[2017-01-02 05:06] martinschaef commented on #40
Let's close this and re-open it once we start thinking about library calls. This is too generic and overlaps with #41 and #42 .

[2017-01-02 05:06] #40 closed

[2017-01-02 05:07] martinschaef commented on #41
Let's close this and re-open it once we start thinking about library calls. This is too generic and overlaps with #40 and #42

[2017-01-02 05:07] #41 closed

[2017-01-02 07:11] lememta commented on #55
Lets close it

[2017-01-02 07:11] #55 closed

[2017-01-02 18:21] martinschaef opened #119 "PushStatement fascist HashCode"
@rodykersten what is that thing with the hashCode and equals method in `PushStatement`? I just spent a couple of hours debugging my data-flow analysis until I figured out that push statements have a very liberal idea of what "equal" means ... can we change that? What will it break if I remove your overloading?

[2017-01-02 22:02] #82 closed

[2017-01-04 15:09] martinschaef opened #123 "Bug in inlining of library calls"
See example `inlining/UnsatRandom01.java`.  When inlining calls to `Random` object for:
[code]
the assignment `x=42` erroneously becomes unreachable.

[2017-01-04 17:33] martinschaef commented on #123
A simpler version:
[code]
The stubbing of methods that return random primitive types is wrong.

[2017-01-04 20:17] martinschaef opened #124 "Havoc method in SootValueSwitch is wrong"
This is related to #123: There is a method soottocfg.soot.visitors.SootValueSwitch.createHavocLocal(Type)
that is supposed to return an unknown value but it looks like it just returns the default value.

We have to rethink how we do havoc. The old approach doesn't work anymore.

[2017-01-05 04:33] #124 closed, assigned to nobody

[2017-01-05 16:18] martinschaef commented on #123
The problem in the example above is that the stubbed cfg method for `nextBoolean` returns an uninitialized boolean local variable. Without inlining, this is fine because leaving the variable uninitialized is treated like a non-deterministic assignment, so the summary for `nextBoolean` just says that the return value is non-det.
If we inline, however, the call gets replaced by an uninitialized bool

[2017-01-05 16:19] #123 closed, assigned to martinschaef, rodykersten

[2017-01-06 22:55] lememta opened #125 "Implement Mix-Semantics"
This an implementation at the CFG level.  The idea is to push assert statement to the main method. See SeaHorn implementation for reference.  More info can be found in page 5/6 of http://seahorn.github.io/papers/cav15.pdf or www.cs.utexas.edu/users/hunt/FMCAD/FMCAD14/proceedings/25_lal.pdf

[2017-01-07 22:46] martinschaef commented on #125
Can you add a link to the paper here?

[2017-01-10 01:09] rodykersten commented on #119
This was only to make sure there were no affecting push id's doubled in the Horn encoding of PullStatement. As PushStatements are sometimes copied (when they are moved into multiple succeeding basic blocks in the CFG), it could happen that the same invariant was assumed several times at a pull. I'm ruling that out in the StatementEncoder now.

[2017-01-10 01:09] #119 closed

[2017-01-10 01:52] rodykersten opened #126 "Boolean return issue"
See backlog/SatBooleanReturn.java. It has a typing issue because of the following statement:
 ``$ex_ := call <SatBooleanReturn: boolean test()>($r2)``
It's missing the receiver for the boolean return value.

[2017-01-10 01:56] rodykersten commented on #94
The duplicated push is no longer there. This is currently failing because of #126 though.

[2017-01-10 02:35] #126 closed, assigned to martinschaef, rodykersten

[2017-01-10 18:26] rodykersten commented on #94
This now passes, closing.

[2017-01-10 18:26] #94 closed

[2017-01-12 16:18] martinschaef opened #127 "Bug in recursive type definitions"
For recursively defined types such as:
[code]
We get ReferenceTypes of different size for an `instance` and the `instance.other` field. This is because of the way class variables are constructed.
To fix this, all class variables have to be created before analyzing the actual bytecode.

[2017-01-12 16:41] #127 closed, assigned to martinschaef

[2017-01-12 22:32] rodykersten opened #128 "Unsoundness in constructors with method calls"
I just added test cases Sat/UnsatConstructorWithMethodCall to show this. We currently never pull 'this' in a constructor. This is not correct, because may invoke a method on 'this'. We should push before the call and pull after.

[2017-01-12 22:33] rodykersten opened #129 "Multi-dimensional arrays with the new array model"
This currently does not work because of #128.

[2017-01-12 23:12] #128 closed, assigned to rodykersten

[2017-01-14 03:52] martinschaef commented on #117
@rodykersten can this be merged with #129?

[2017-01-14 03:53] #104 closed

[2017-01-14 03:53] martinschaef commented on #104
due to inactivity.

[2017-01-14 04:01] martinschaef opened #130 "Analysis imprecise for args.length"
For our [example program](https://github.com/jayhorn/jayhorn/blob/b6f0e1fd28c8e2bd1aecce9951acf400303f02f5/jayhorn/src/test/resources/horn-encoding/lpar/SatObjectArray2.java#L14):

[code]

We fail to find a proof if we set `size=args.length` in the beginning. I assume it's because the length field doesn't make it into the tuple for the string array. This happens because we only inline stuff the is

[2017-01-14 18:16] rodykersten commented on #117
@martinschaef no, this is unrelated

[2017-01-20 16:08] jpgallagher opened #131 "Syntax error in .smt2 output file"
I'm getting a syntax error in the .smt2 output, from running jayhorn on the following
 small Java program.  The smt2 output is also attached
[NLogN2_0.smt2.txt](https://github.com/jayhorn/jayhorn/files/719836/NLogN2_0.smt2.txt), for which z3 generates the following syntax errors.

(error "line 127 column 442: invalid qualified/indexed identifier, '_' or 'as' expected")
(error "line 137 column 273:

[2017-01-20 19:53] rodykersten opened #132 "Null derefence exception"
backlog/UnsatNullDereference.java throws an exception from calling the validate() method on a Jimple body: local type not allowed in final code: null_type local: n0

[2017-01-25 10:52] pruemmer commented on #131
Closed in b5b1601f104530d23b9e8872c214cb12939b90f0
Note that the program also contains non-linear arithmetic, which we currently don't handle in a meaningful way. Surprisingly JayHorn does not crash ...

[2017-01-25 10:52] #131 closed, assigned to pruemmer

[2017-01-27 17:14] rodykersten opened #133 "Unsoundness in Data Flow Simplifications"
I committed a set of tests in the backlog: Sat/UnsatDataOpt.java
JayHorn is unsound on this example. Looks like this is related to the new optimization step. There are two assignments at the start, to the fields that specify the number of loop iterations. These are optimized away (even though they *are* needed) if we have the set of nested if's.

[2017-01-31 00:05] rodykersten commented on #48
@pruemmer @lememta I want to implement option 1 soon. Do either of you have any pointers to literature about (or implementations of) this solution?

[2017-01-31 06:39] lememta commented on #48
@rodykersten as we briefly talked today, for the first option from @pruemmer, we can define a horn predicate that abstracts the implementation of multiplication, division etc. E.g.

`(define-rel mult (Real Real Real))
...
; define known facts for multiplications
(rule (mult 0 y 0) )
(rule (mult x 0 0))
;.... E.g of those rules: https://github.com/kind2-mc/cocospec_tcm_experiments/blob/master/syste

[2017-01-31 18:03] pruemmer commented on #48
That makes sense for real numbers, but for integers (which are more important for Java of course) we can actually choose a complete encoding of multiplication. Something along the following lines:

[code]

It should be possible to encode those three formulas as Horn clauses?

[2017-01-31 22:36] rodykersten opened #134 "Spacer time-out"
Spacer back-end currently does not respect the set time-out.

[2017-01-31 22:52] rodykersten commented on #134
Also, printing of Horn clauses is done *after* checking them. Which means we cannot get them if Spacer cannot find a solution.

[2017-02-01 01:50] rodykersten commented on #48
Here is a Horn encoding I'm currently testing with:
[code]
This encoding gives correct results for all concrete multiplications I have tried. It can not, however, prove the nonlinear/SatMultiplication06.java example (see my last commit).

In that example I have added the above and replaced the line
[code]
by
[code]

Any ideas?

[2017-02-08 19:20] lememta commented on #134
Added timeout and also moved the printing of horn clauses.

[2017-02-08 19:20] #134 closed, assigned to lememta

[2017-02-14 09:28] martinschaef opened #135 "Handling of static initializers needs work"
Rody has an example where our handling of static initializers is unsound. This is nothing new, but we need to work on this to make his benchmark set run through smoothly.

@rodykersten let's create a set of test cases that we can put in the git and then I'll start working on it.

[2017-02-14 17:09] martinschaef commented on #132
@rodykersten looks like you forgot to add that file. Could you push it? In general, this can happen if either javac or soot optimize trivial stuff away, but I'll look into it once you pushed it.

[2017-02-14 19:48] rodykersten opened #136 "Smt2 output by Z3/Spacer is not readable by Z3"
When I use the -print-horn flag with Spacer, JayHorn outputs the generated clauses in SMT2 format. However, when you try to run Z3 on these clauses it gives a bunch of errors. @lememta said there's a problem with the toString method provided by Z3 and he will write his own. This is just a reminder ;) It would help a lot with experimentation for non-linear solving.

[2017-02-14 20:10] rodykersten opened #137 "Clean up generated clauses"
Generated Horn clauses can be cleaned up quite a bit, e.g. they contain many unnecessary rules that just jump to the next block

[2017-02-14 20:19] rodykersten opened #138 "System.out initialization"
Whenever the program contains a print statement, JayHorn says UNSAFE because it thinks that e.g. System.out is not initialized, see SatPrint. Should be an easy fix.

[2017-02-14 20:20] rodykersten commented on #132
done

[2017-02-14 20:44] martinschaef commented on #132
Ok ... like I thought, there is little we can do for this one: if you compile the file, you get the following bytecode:
[code]
If you reconstruct `s` it will be of type `null` and that's not legal. If you don't let it crash, it will just drop the rest of the body including the assertion.

I ran into that when playing with the CBMC benchmarks and didn't find a good solution other than letting it di

[2017-02-19 20:00] martinschaef commented on #138
Makes sense ... I'd say let's focus on getting that parser for the IL running. Did you receive [my gist with the bnfc grammar](https://gist.github.com/martinschaef/85e24ed102bbcd757135043754b7245c)? Once we have that parser, we can write all this stuff in a prelude. Then we could also remove the special handling of the String array in main and make that part of the prelude ... much cleaner at leas

[2017-02-20 17:55] rodykersten commented on #138
That sounds good, much cleaner than coding it indeed. Nice work on the grammar!

[2017-02-23 23:19] #132 closed, assigned to martinschaef, rodykersten

[2017-02-24 01:25] rodykersten commented on #135
Turns out that this is not related to static initializers, but rather to how we handle inner classes. I've added a minimal test case in the backlog: UnsatInnerClass.java.

[2017-02-24 18:56] rodykersten commented on #135
My last commit fixes UnsatInnerClass, but not the bigger example. I'll look more into that one...

[2017-02-24 20:37] rodykersten commented on #135
Committed UnsatIssue135 for which we are still unsound. Haven't figured out why yet...

[2017-02-25 00:26] #135 closed, assigned to martinschaef

[2017-02-25 00:29] rodykersten commented on #135
This was a tricky one. There is a method that determines whether or not to push on an access of this.field in a constructor. That only pushes if there is not a guaranteed later push, because there is another write to a field of this. The check did not check for writes to this.field, but rather to any usage of the field.

[2017-02-28 02:53] #133 closed, assigned to martinschaef, rodykersten

[2017-02-28 02:58] rodykersten opened #139 "Translation to CFG misses an edge"
Now that I use the Dominator class in the PushPullSimplifier, SatGcd and another classic throw a VerifierError. The problem is that there is a basic block without incoming edges. It seems that the block is legit (Block12 in main), but the connection is not made.

[2017-02-28 03:01] martinschaef commented on #139
I'll look into this. Are u available for a chat before the call with Philipp?

[2017-02-28 03:05] rodykersten commented on #139
Thanks! Not right before. But anytime between 10:00 and 12:00 works.

[2017-03-04 14:52] martinschaef commented on #138
I downgraded that because technically, it's not a bug. Its just under-specified.

[2017-03-04 14:57] martinschaef opened #140 "Say goodbye to gradle?"
Ok, I tried to be modern, but this gradle shit is really making me angry. It behaves completely different on travis and on my two laptops. Even with gradlew. The [current build](https://travis-ci.org/jayhorn/jayhorn/builds/207686213) fails on travis with a deprecation warning but does not emit that warning on my laptop. I tried telling gradle ignore deprecation but gradle ignores any compiler flag

[2017-03-05 14:51] martinschaef commented on #140
For now, I removed the `-Werror` and field [an issue](https://github.com/BNFC/bnfc/issues/205) for bnfc to check on their antlr support.

[2017-03-05 14:51] #140 closed, assigned to nobody

[2017-03-31 19:32] rodykersten opened #141 "Return type and receiver type don't match"
See Issue141.java.

Problem with the arity of the return type vs receiver type, related to calling clone() on an Object[].

[2017-03-31 20:06] rodykersten opened #142 "Unsound array copy"
See UnsatIssue142.java

Seems like it might be related to the random length of the array.

[2017-04-13 05:14] rodykersten opened #143 "Bug in ExceptionTransformer, fixed?"
There was a bug that made JayHorn say SAFE even though a method called from main might throw a RuntimeException. I think I fixed it, but since it's your code @martinschaef and I don't really understand how it works, please have a look.

The change I made is on lines 252-256, where I assume that an invoked method may always throw any of the RuntimeExceptions that we handle. This seems to be a sound

[2017-04-13 12:50] martinschaef commented on #143
Sure, can do ...  lines 252-256 in which file? Did you know that github has a real 'review request' feature? Let's use that instead :)

[2017-04-13 13:06] martinschaef commented on #143
Ah ... this is a trickier one.
There is already a flag to do what you suggested in [line 334](https://github.com/jayhorn/jayhorn/blob/f3560bcf0b406628bb581466a5de5db42bcad87f/soottocfg/src/main/java/soottocfg/soot/transformers/ExceptionTransformer.java#L334).

The question is what do we need to check on the callee side. If you say, we catch only declared exceptions and we model all other exception

[2017-04-13 17:10] rodykersten commented on #143
Can do: https://gist.github.com/rodykersten/4835aa0fd8903de73342ef4886143cfb

[2017-04-17 00:54] rodykersten opened #144 "Parser for our Intermediate Verification Language"
Finish Martin's work on the bnfc parser for our intermediate language so we can start writing specs in it.

[2017-04-17 00:57] rodykersten opened #145 "Write models for common library classes"
e.g. java.lang.String, java.util.Collection

[2017-04-17 00:59] rodykersten opened #146 "Implement specification library"
For more expressive specification than just 'assert'. A start would be to implement the technique from our JPF workshop paper.

[2017-04-17 02:07] rodykersten commented on #142
Narrowed it down to the way that subclasses are handled in method calls. This example contains a method sort(Object[] a) which is called with a parameter of type Integer[]. If I change the signature of the method to sort(Integer[] a) the result is UNSAFE as expected.

[2017-04-17 14:42] martinschaef commented on #142
Uh ... that might be a nasty one. Because arrays are replaced by these fake classes, it might be that we don't keep the subtype relation.... i.e., check in the Jayhorn types if this subtypes exist

[2017-04-17 16:02] rodykersten commented on #142
That makes sense, I'll look into it, thanks

[2017-04-19 19:59] rodykersten commented on #142
Fixed.

This was more tricky than I anticipated... Making e.g. the replacement class for Integer[] a subclass of Number[] does not work, because you'll be overriding methods and masking fields. I ended up doing this: all reference array replacements are now subclasses of the replacement for Object[]. The only method they override is the constructor, in order to set the element type; get and set +

[2017-04-19 19:59] #142 closed, assigned to rodykersten

[2018-09-13 07:28] aigarashi opened #151 "v0.5.1 doesn't run on Ubuntu 18.04"
I tried to run v0.5.1 by following the instructions at https://github.com/jayhorn/jayhorn/releases.
The downloaded jar worked on Mac but didn't quite work on Ubuntu 18.04.  I tried
- OpenJDK Runtime Environment (build 1.8.0_181-8u181-b13-0ubuntu0.18.04.1-b13)
- OpenJDK Runtime Environment (build 10.0.2+13-Ubuntu-1ubuntu0.18.04.1)

but both produce the same result below.  The problem seems that org

[2018-09-13 17:30] martinschaef commented on #151
Looks like an issue with the ASM version that we are using. Any chance you could share your input with us?

[2018-09-13 17:42] lememta commented on #151
I could potentially upgrade the version over the weekend.

[2018-09-14 01:16] aigarashi commented on #151
The input was class files compiled from Maun.java but I'll attach the class files just in case.

[Maun.zip](https://github.com/jayhorn/jayhorn/files/2381515/Maun.zip)

[2018-10-10 13:59] naokikob commented on #151
Is there any update on this issue?
I encountered the same problem.

[2018-10-17 08:02] aigarashi commented on #151
It turns out that this was due to my mistake.  My Ubuntu Box has both JDK 8 and 11 installed and the class files are generated by javac from JDK 11 (run by JVM from JDK 8).  I removed JDK 11 and it seems that everything works fine.

I'll close this issue.

[2018-10-17 08:02] #151 closed, assigned to nobody

[2018-10-18 14:39] martinschaef opened #152 "Unsound result for test case"
For some micro examples, Soot's optimizations lead to unsound results because some operations get simplified to no-ops. Below our intermediate for the failing test case [horn-encoding/regression/UnsatInstOf.java](https://github.com/jayhorn/jayhorn/blob/svcomp19/jayhorn/src/test/resources/horn-encoding/regression/UnsatInstOf.java). I'll see if I have more time to fix this later tonight, but I'm pre

[2018-10-18 19:50] pruemmer commented on #152
I have been trying to hunt this down, but not able to get any further right now. The problem is that the Java expression `UnsatInstOf.class` is translated to a CFG expression (class variable) called `LUnsatInstOf;`, not to `UnsatInstOf`. The strange `L...;` thing already occurs on the Soot level, no idea where it comes from. As a result the class ids don't match up on the Horn level.

[2018-10-19 15:57] pruemmer commented on #152
Checked in a workaround for the class name problem.

Now we still have an exception in the ArrayTransformer (this is the problem that occurs in all of the MinePump examples):

[code]

[2018-10-19 17:48] martinschaef commented on #152
lookin

[2019-07-04 15:34] shiatsumat opened #153 ""JayHorn in action" is archived"
The asciinema recording of a sample execution of JayHorn in "JayHorn in action" of http://jayhorn.github.io/jayhorn/ is archived.
Can it be restored?

[2019-07-04 16:37] martinschaef commented on #153
Hmm ... I don't know who owns this. Maybe @lememta can help. We'll also add a step-by-step to the readme.

[2019-07-24 06:47] jtoman opened #154 "Unsound result with recursion"
Hello,

I'm a researcher looking at JayHorn. Experimenting with some benchmarks, I found that the following program verifies when it should not. The benchmark recurses through rec twice, calling neg twice, and then increments the contents of Ptr before returning. The assertion definitely fails (as confirmed by running the program with a concrete value). I am running this with Java 1.8.0_212-8u212-

[2019-07-24 06:52] jtoman opened #155 "Simplification appears broken"
Experimenting with Jayhorn as a part of my research, I discovered Jayhorn fails to verify the following trivial program:

[code]

Looking at the CFG output with the `-cfg` option, immediately after the update the IR contains a check that `i2 < i2`, which naturally fails.

[2019-07-24 07:07] lememta commented on #154
Can you post how are you running JayHorn? Which options are you using>

[2019-07-24 07:11] jtoman commented on #154
`java -jar jayhorn/build/libs/jayhorn.jar -j ~/path/to/classes`

The above folder does not contain an class file for Havoc_Class, which I believe is sufficient to trigger  stubbing behavior.

[2019-07-24 09:07] pruemmer commented on #154
Thanks for the bug report! I can reproduce this on my machine; looking at the CFG (option -cfg), it seems that the assertion is simplified away completely. The bug might be due to some of the recent changes in the constant propagator and partial evaluator; I’m looking into it.

--
Philipp Rümmer, PhD, Docent (Associate Professor)
Department of Information Technology, Uppsala University

[2019-07-29 20:21] pruemmer commented on #154
This should be fixed by the latest commit, 4f998aa

[2019-07-29 20:21] #154 closed, assigned to nobody

[2019-07-29 20:22] pruemmer commented on #155
This should be fixed by the latest commit, 4f998aa

[2019-07-29 20:22] #155 closed, assigned to nobody